/* containers */
.chat-container {
  width: 100%;
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100) !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  overflow: hidden;
}

.chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
  height: 7vh;
  height: calc(var(--vh, 1vh) * 7) !important;
  overflow: hidden;
  top: 0px;
  position: fixed;
}

.chat-footer {
  height: 5vh;
  height: calc(var(--vh, 1vh) * 5) !important;
  overflow: hidden;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

.chat-content {
  height: 82vh;
  height: calc(var(--vh, 1vh) * 82) !important;
  overflow: hidden;
  display: block;
  width: 92%;
  padding: 1em;
  background-color: gray;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: 7vh;
  bottom: 5vh;
}

.chat-content div:empty {
  background-color: gray !important;
  padding: 0;
}

/* components */
.exit-button {
  padding: 0.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0.5em;
  margin-right: 1em;
  margin-left: auto;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.exit-button:hover {
  background-color: gray;
}

.send-button {
  width: 15%;
  border: none;
  margin: 0;
  padding: 0.5em;
  background-color: white;
  color: black;
  margin-right: 1em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.send-button:hover {
  background-color: gray;
}

.send-input {
  border: none;
  width: 80%;
  margin: 0;
  padding: 0.5em;
  margin-left: 1em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sent-message {
  max-width: 70%;
  min-width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0;
  margin-left: auto;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-align: right;
  padding: 0.25em;
}

.received-message {
  max-width: 70%;
  min-width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-align: left;
  padding: 0.25em;
}

.status-message {
  max-width: 70%;
  min-width: 30%;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 0.25em;
}

.status-message .message-content {
  font-style: italic;
  font-size: 0.75em;
}

.message-author {
  font-weight: bold;
  font-size: 0.75em;
}

.message-excluded {
  font-style: italic;
  font-size: 0.75em;
}

.message-edited {
  font-style: italic;
  font-size: 0.75em;
}

.message-content {

}

.message-hour {
  font-size: 0.75em;
}

.message-date {
  font-size: 0.75em;
}

