html[style] {
  border: none !important;
  outline: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus {
  outline: 1px solid gray;
  outline-offset: 3px;
}

/* we don't need outline here due blink cursor */
input[type='text'], input[type='text']:focus {
  outline: none !important;
}

.no-outline {
  outline: none !important;
}

.no-border {
  border: none !important;
}

